.slideMain {
    :global(.swiper-slide) {
      width: 100%;
      margin: 0 auto;
  
      img {
        width: 100%;
        height: 100%;
        max-height: 600px;
        object-fit: cover;
      }
    }
  }
  