@charset "UTF-8";

// reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

li {
  list-style: none;
}
a {
  color: #222222;
  text-decoration: none;
  cursor: pointer;
}
img {
  display: block;
  border: none;
  object-fit: contain;
}
button {
  cursor: pointer;
  border: none;
  background: transparent;
}
textarea {
  resize: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

img,
video {
  max-width: 100%;
  height: auto;
}

//  common
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&family=Roboto:wght@400;500;600;700&display=swap');

html,
body {
  width: 100%;
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #fff;
}

main {
  height: calc(100% - 50px);
}

#root {
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  height: 100%;
  padding-bottom: 50px;
  animation: fadeIn 1s ease-out;
}

.swiper {
  border-radius: 20px;
}

.quill {
  margin: 30px 0 0;
}

.ql-editor {
  min-height: 200px;
}

@media only screen and (min-width: 1024px) {
  body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  .swiper {
    border-radius: 0;
  }
}
